*,
*::before,
*::after {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
}

html, body {
  margin: 0px;
}

body {
  background-color: white;
  font-family: 'Arimo', sans-serif;
  color: white;
}

.wrapper {
  width: 90%;
  margin: 0 auto;
  overflow: auto;
}

/*--------- Header / Navigation ------------*/

.header {
  background-color: #00BCD4;
  margin-top: 1em;
}

.header .black {
  display: none;
}

.header img {
  max-width: 30%;
  display: block;
  padding: .7em 0;
  margin-left: auto;
  margin-right: auto;
}

nav {
  background-color: #EEEEEE;
  overflow: auto;
  padding: .8em 0;
  clear: both;
}

nav ul {
  list-style: none;
  padding-left: 1.2em;
  margin: 0 auto;
}

nav li {
  float: left;
  margin-right: .8em;
  font-size: 12px;
  color: #616161;
  text-transform: uppercase;
}

/*--------- Header / Navigation ------------*/

.mainContent {
  background-image: url("../img/kohtao.jpg");
  height: 40vh;
  background-size: cover;
  overflow: hidden;
}

.location {
  position: relative;
  top: 75%;
  left: 14%;
}

.location p {
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 18px;
  line-height: 5px;
  letter-spacing: 1px;
}

.location p:nth-child(2) {
  text-transform: uppercase;
  color: white;
  text-shadow: 2px 2px 2px black;
  font-size: 14px;
}

/*--------- Sub Content ------------*/

.subContent1, .subContent2{
  width: 100%;
  margin-top: 18px;
  overflow: auto;
  background-color: white;
  padding: 1em;
}

/* Sub Content 1 */

.mobileHeading {
  display: none;
}

.subContent1 {
  text-align: center;
  text-transform: uppercase;
  background-color: #00BCD4;
}

.sub1Text {
  position: relative;
  top: 35%;
}

.subContent1 p {
  font-size: 12px;
}

.subContent1 h2 {
  font-family: 'Patua One', cursive;
  letter-spacing: 1.5px;
}

/* Sub Content 2 */

.subContent2 {
  background-color: #00BCD4;
}

.subContent2 img {
  display: none;
}

.subContent2 p {
  font-size: 14px;
  letter-spacing: .2px;
  line-height: 18px;
  position: relative;
  top: 16%;
  max-width: 90%;
  margin: 0 auto;
}


/* MEDIA QUERIES
======================*/

@media only screen and (max-width: 618px) {
  .header .black {
    display: none;
  }

  .header .white {
    width: 100%;
  }

  .location {
    display: none;
  }

  .locationMobile {
    margin: 1.4em 0px;
  }

  .locationMobile p {
    color: black;
    font-size: 18px;
    line-height: 5px;
  }

  .locationMobile p:nth-child(2) {
    text-transform: uppercase;
    font-size: 14px;
  }

  .subContent1 {
    min-height: 0px;
    height: 6vh;
    overflow: hidden;
    padding-top: .7em;
  }

  .mobileHeading {
    display: block;
    text-align: left;
  }

  .mobileHeading img {
    margin-top: 8px;
    float: left;
    max-height: 20px;
  }

  .mobileHeading p {
    float: left;
  }

  .sub1Text {
    display: none;
  }

  .subContent2 {
    min-height: 0px;
    height: 18vh;
    padding-bottom: 40px;
    overflow: hidden;
  }

}

@media only screen and (min-width: 619px) {

  .wrapper {
    width: 100%;
  }

  .header {
    position: absolute;
    width: 200px;
    top: 5%;
    left: 10%;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 1em;
  }

  .header img {
    margin: 0 2em;
    min-width: 75px;
  }

  .header .black {
    display: block;
  }

  .header .white {
    display: none;
  }

  nav {
    background-color: transparent;
    padding: 0;
  }

  nav ul {
    padding-left: 1.5em;
    padding-bottom: 1em;
  }

  nav li {
    float: none;
    font-size: 13px;
    text-align: left;
    margin: .5em;
  }

  .mainContent {
    height: 64.6vh;
  }

  .location {
    top: 85%;
  }

  .locationMobile {
    display: none;
  }

  .subContent1 {
    float: left;
    width: 49%;
    height: 33.8vh;
  }

  .sub1Text p {
    font-size: 14px;
  }

  .sub1Text h2 {
    font-size: 26px;
  }

  .subContent2 {
    float: right;
    width: 49%;
    height: 33.8vh;
  }

  .subContent2 img {
    position: relative;
    top: 10%;
    left: 4%;
    display: block;
    border: 2px solid white;
    border-radius: 50%;
    width: 50px;
  }

  .subContent2 p {
    font-size: 16px;
    line-height: 25px;
  }
}

@media only screen and (min-width: 1100px) {

  .mainContent {
    float: left;
    width: 70%;
    height: 100vh;
    display: block;
  }

  .subContent {
    float: right;
    width: 30%;
    padding: 0 0 0 15px;
    height: 100vh;
    overflow-y: hidden;
    overflow-x: hidden;
  }

  .subContent1 {
    margin-top: 0;
    width: 100%;
    height: 50%;
  }

  .sub1Text p {
    font-size: 16px;
  }

  .sub1Text h2 {
    font-size: 30px;
  }

  .subContent2 {
    width: 100%;
    height: 50%;
  }

  .subContent2 p {
    font-size: 16px;
    line-height: 30px;
  }
}
